<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Attrition!!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="style.css">
</head>
<body>

<div id="particles-js">
<div class="details">
<h2>Here goes the Prediction!</h2>
<form>
    <input type="text" name="field1" placeholder="Satisfaction" />
    <input type="text" name="field1" placeholder="Evaluation" />
    <!--<input type="text" name="field1" placeholder="Average Monthly Hours" />
    <input type="text" name="field1" placeholder="Years At Company" />
    <input type="text" name="field1" placeholder="Work Accident" />
    <input type="text" name="field1" placeholder="Department" />
    <input type="text" name="field1" placeholder="Salary" />-->
    <input type="button" value="Submit" /> 
</form>
</div>
<script src="attrition.js"></script>
<script src="particles.js"></script>
<script src="app.js"></script>
</div>
</body>
</html>